@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav.container {
    background-color: rgb(247, 225, 223);
    display: flex;
    padding: 30px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 3px solid rgba(0, 0, 0, 0.144);
}
.links {
    text-decoration: none;
    padding-right: 40px;
    color: black;

}

 nav > #button-login {
    background-color: black;
    color: white;
    padding: 20px 40px; 
    border: 1px dashed black;
    border-radius: 3px;
}

