@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav.container {
    background-color: rgb(243, 202, 197);
    display: flex;
    padding: 50px;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.links {
    text-decoration: none;
    padding-right: 40px;
    color: black;

}

 nav > #button-login {
    background-color: black;
    color: white;
    padding: 20px 40px; 
    border: 1px dashed black;
}

div.container2 {
    display: flex;
    width: 1000px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.imagem {
    block-size: 60px;
}